<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
  	<div class="navbar-header">
  		<a class="navbar-brand" href="{{ url('lasynsec_front_homepage')}}">My Social Media </a>
  		<ul class="nav navbar-nav">
  			<li><a href="{{ url('lasynsec_front_homepage')}}">home</a></li>
  			<li><a href="{{ url('lasynsec_front_about')}}">about</a></li>
  		</ul>
  	</div>
  </div>
</div>